@import "tailwindcss";

body {
  font-family: system-ui;
}

.input {
  width:100%;
  padding:10px;
  border:1px solid #e5e7eb;
  border-radius:8px;
  margin-bottom:12px;
}

.btn {
  width:100%;
  background:#2563eb;
  color:white;
  padding:10px;
  border-radius:8px;
}

